{
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "expect": true
  },
  "rules": {
    // Ignore Rules
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-mixed-requires": 0,
    "no-use-before-define": 0,
    "no-process-exit": 0,

    // Warnings
    "no-debugger": 1,
    "no-empty": 1,
    "no-invalid-regexp": 1,
    "no-warning-comments": 1,
    "no-unused-expressions": 1,
    "no-native-reassign": 1,
    "no-fallthrough": 1,
    "camelcase": 1,
    "no-unused-vars": 1,

    // Errors
    "no-undef": 2,
    "no-dupe-keys": 2,
    "no-empty-class": 2,
    "no-self-compare": 2,
    "valid-typeof": 2,
    "handle-callback-err": 2,
    "no-shadow-restricted-names": 2,
    "radix": 2,
    "no-new-require": 2,
    "no-mixed-spaces-and-tabs": 2,

    // stylistic errors
    "new-cap": 2,
    "no-spaced-func": 2,
    "no-space-before-semi": 2,
    "quotes": [1, "single"]
  }
}
