.idea
*.iml
npm-debug.log
dump.rdb
node_modules
components
build
results.tap
results.xml
config.json
.DS_Store
*/.DS_Store
*/*/.DS_Store
._*
*/._*
*/*/._*
coverage.*
lib-cov
*scratch*
artillery_report*
coverage/*
.vagrant/
.vscode
.history