test/
.idea
*.iml
npm-debug.log
dump.rdb
node_modules
components
build
results.tap
results.xml
config.json
.DS_Store
*/.DS_Store
*/*/.DS_Store
._*
*/._*
*/*/._*
coverage.*
lib-cov
*scratch*
coverage/*
node_modules
examples
packages/
