<!DOCTYPE html>
<!-- chartjs -->
<html>
<head>
  <title>Artillery report</title>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js" charset="utf-8"></script>

  <style>
  body, p, li {
    font-family: sans-serif;
    font-size: 10pt;
  }

  h1 {
    font-size: 18pt;
    font-weight: bold;
  }

  #errorsContainer > p {
    color: #009900;
  }

  #footer {
    padding: 1em;
    font-size: 0.8em;
    color: #999;
    text-align: center;
    margin-top: 1em;
    background-color: #eee;
  }
  #editor {
    font-size: 8pt;
    height: 20em;
  }
  </style>

  <script>
  window.Report = <%= report %>;
  </script>

  <style>
      h1 {
        line-height: 200%;
      }

      body {
          background-color: #fcfcfc;
      }

      .container {
          width: 100%;
          min-width: 960px;
      }
  </style>


</head>
<body>

<div class="container">

<div class="row" id="header">
  <div class="text-center">
    <pre style="font-size: 36pt; font-weight: 700; background-color: #fcfcfc; border: none;">
    Artillery Report
    </pre>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="text-center" id="page-title">Test run on <span id="timestamp">date</span></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <h5>
      Summary
    </h5>
    <table class="table table-bordered table-hover table-condensed">
      <tbody>
        <tr>
          <td>Test duration</td>
          <td><span id="testDuration">0</span> sec</td>
        </tr>
        <tr>
          <td>Virtual Users created</td>
          <td><span id="vuCreated">0</span></td>
        </tr>

        <tr>
          <td>Virtual Users completed</td>
          <td><span id="vuCompleted">0</span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-lg-5" id="scenarioCountsContainer">
    <div>
      <h5>
        Scenario counts
      </h5>
      <p></p>

      <table class="table table-bordered table-hover table-condensed" id="scenarioCounts">
      </table>
    </div>
  </div>

  <div class="col-lg-1">
    <div id="codesContainer">
      <h5>
        Codes
      </h5>

      <p></p>

      <table class="table table-bordered table-hover table-condensed" id="codes">
      </table>
    </div>
  </div>

  <div class="col-lg-3">
    <div id="errorsContainer">
      <h5>
        Errors
      </h5>

      <p></p>

      <table class="table table-bordered table-hover table-condensed" id="errors">
      </table>
    </div>
  </div>
</div> <!-- /.row -->

<div class="row">
  <div class="text-center col-lg-12">
    <h3>Charts</h3>
  </div>
</div>

<div class="row">
  <div class="latency-histogram text-center col-lg-6">
    <h5>
      <i class="fas fa-chart-bar"></i> Overall latency distribution
    </h5>
    <canvas id="latencyBarChart"></canvas>
  </div>
  <div class="latency text-center col-lg-6">
    <h5>
      <i class="fas fa-chart-area"></i> Latency at intervals
    </h5>
    <canvas id="latencyAtIntervalsChart"></canvas>
  </div>
</div>

<div class="row">
  <div class="rps-mean text-center col-lg-6">
    <h5>
      <i class="fas fa-chart-area"></i> Mean RPS
    </h5>
    <canvas id="meanRpsChart"></canvas>
  </div>
  <div class="rps-count text-center col-lg-6">
    <h5>
      <i class="fas fa-chart-area"></i> RPS Count
    </h5>
    <canvas id="rpsCountChart"></canvas>
  </div>
</div>

<div class="row">
  <div class="text-center col-lg-6">
    <h5>
      <i class="fas fa-chart-area"></i> HTTP Codes
    </h5>
    <canvas id="httpCodesChart"></canvas>
  </div>
</div>

<div class="row">

</div>
<div class="row">
  <div class="codes-line text-center col-lg-12"></div>
</div>
<div class="row">
  <div class="errors-line text-center col-lg-12"></div>
</div>

<% if (JSON.parse(report).aggregate.customStats) { %>
  <% Object.keys(JSON.parse(report).aggregate.customStats).forEach(function (statName) { %>
    <% var id = 'id_' + Math.floor(Math.random() * 10000); %>
    <div class="row">
      <div class="<%= id %> text-center col-lg-12"></div>
      <script>
      var histogramData = _.map(Report.aggregate.customStats['<%= statName %>'], function(v, k) { return {bin: k, value: v} });
      </script>
    </div>
  <% }); %>
<% } %>

</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h3 class="text-center">Raw report data</h3>
    <p>This is the raw JSON stats output that the report was generated from.</p>
    <div id="editor">
    </div>
  </div>
</div>

<script>
var editor = ace.edit("editor");
editor.getSession().setMode("ace/mode/javascript");
editor.setValue(JSON.stringify(Report, null, 2));
editor.gotoLine(1);editor.setHighlightActiveLine(false);

var l = _;

$('#timestamp').html(moment(Report.aggregate.timestamp).format('DD MMM YYYY HH:mm:SS'));
$('#testDuration').html(Math.floor((l.last(Report.intermediate).lastCounterAt - Report.intermediate[0].firstCounterAt)/1000));
$('#vuCompleted').html(Report.aggregate.counters['core.vusers.completed']);
$('#vuCreated').html(Report.aggregate.counters['core.vusers.created.total']);

const chartBgColors = [
  'rgba(255, 99, 132, 0.2)',
  'rgba(255, 159, 64, 0.2)',
  'rgba(255, 205, 86, 0.2)',
  'rgba(75, 192, 192, 0.2)',
  'rgba(54, 162, 235, 0.2)',
];

const chartBorderColors = [
  'rgb(255, 99, 132)',
  'rgb(255, 159, 64)',
  'rgb(255, 205, 86)',
  'rgb(75, 192, 192)',
  'rgb(54, 162, 235)',
];

// TODO markers should highlight data points when a load phase changes into another
var markers = [];
if(l.size(Report.phases) > 0) {
  markers = l.foldl(Report.phases, function(acc, phase, index) {
    var label = phase.name || 'Phase ' + (index + 1);
    var timestamp = (index === 0) ? 0 : Report.phases[index - 1].duration + acc[index - 1].timestamp;

    acc.push({
      timestamp: timestamp,
      label: label
    });

    return acc;
  }, []);
}

const scenarioCounts = l.pickBy(Report.aggregate.counters, (count, key) => key.startsWith('core.vusers.created_by_name'));

if (l.size(scenarioCounts) > 0) {
  l.each(scenarioCounts, function(count, key) {
    const [,,,name] = key.split('.');

    const $tdName = $('<td>' + name + '</td>');
    const percentage = Math.round(count / Report.aggregate.counters['core.vusers.created.total'] * 100 * 1000) / 1000;
    const $tdCount = $('<td>' + count + ' (' + percentage + '%)' + '</td>');
    $('<tr></tr>')
      .append($tdName)
      .append($tdCount)
      .appendTo($('#scenarioCounts'));
  });
} else {
  $('#scenarioCountsContainer').hide();
}

const httpCodes = l.pickBy(Report.aggregate.counters, (count, key) => key.startsWith('engine.http.codes'));
if (l.size(httpCodes) > 0) {
  l.each(httpCodes, function(count, key) {
    let [,,,code] = key.split('.');
    code = parseInt(code, 10);

    let anchor = '';
    if (code >= 100 && code < 200) {
      anchor = '#1xx_informational_response';
    } else if (code >= 200 && code < 300) {
      anchor = '#2xx_success';
    } else if (code >= 300 && code < 400) {
      anchor = '#3xx_redirection';
    } else if (code >= 400 && code < 500) {
      anchor = '#4xx_client_errors';
    } else if (code >= 500 && code < 600) {
      anchor = '#5xx_server_errors';
    }

    const $a = $('<a>' + code + '</a>').attr('href', 'https://en.wikipedia.org/wiki/List_of_HTTP_status_codes' + anchor);
    const $td = $('<td></td>').append($a);
    $el = $('<tr></tr>')
      .append($td)
      .append($('<td>' + count + '</td>'))
      .appendTo($('#codes'));
  });
} else {
  $('#codesContainer').hide();
}

// TODO fix for v2
if (l.size(Report.aggregate.errors) > 0) {
  l.each(Report.aggregate.errors, function(count, code) {
    var $el = $('<tr></tr>')
      .append($('<td>' + code + '</td>'))
      .append($('<td>' + count + '</td>'))
      .appendTo($('#errors'));
  });
} else {
  $('#errorsContainer > p').html('&#10004; Test completed without network or OS errors.');
}

const getTimePeriodAggregates = (summaries) => {
  const selector = summaries['engine.http.socketio'] ? 'engine.http.socketio' : 'engine.http.response_time';
  const metrics = ['min', 'max', 'median', 'p95', 'p99'];

  return l.pickBy(summaries[selector], (count, key) => metrics.includes(key))
}

const getLatencyDistribution = (summaries) => {
  return l.reduce(getTimePeriodAggregates(summaries), (acc, value, key) => {
      acc.labels.push(key);
      acc.values.push(value);

      return acc;
  }, { labels: [], values: [] });
}

const latencyDistributionData = getLatencyDistribution(Report.aggregate.summaries);

const latencyDistributionBarChart = new Chart(document.getElementById('latencyBarChart'), {
  type: 'bar',
  data: {
    labels: latencyDistributionData.labels,
    datasets: [{
      data: latencyDistributionData.values,
      backgroundColor: chartBgColors,
      borderColor: chartBorderColors,
      borderWidth: 1,
    }],
  },
  options: {
    plugins: { legend: { display: false } },
    scales: {
      y: {
         beginAtZero: true,
         title: {
           display: true,
           text: 'ms'
         }
      }
    }
  }
})

const randomRgbColor = () => {
  const r = Math.floor(Math.random() * 256);
  const g = Math.floor(Math.random() * 256);
  const b = Math.floor(Math.random() * 256);

  return 'rgb('+r+', '+g+', '+b+')';
}

const chartDatasets = (values) => {
  return l.map(values, (entry, key) => {
    return {
      label: key,
      data: entry,
      fill: false,
      backgroundColor: chartBgColors,
      borderColor: chartBorderColors,
      tension: 0.5,
    }
  })
}

const latencyAtIntervalsData = (intermediate = []) => {
  const data = intermediate.reduce((acc, entry, idx) => {
    const latencies  = getTimePeriodAggregates(entry.summaries);

    l.each(latencies, (latency, key) => {
      acc.values[key] = acc.values[key] || [];

      acc.values[key].push(latency);
    });

    acc.labels.push((idx + 1) * 10);

    return acc;
  }, { labels: [], values: {} });

  return {
    labels: data.labels,
    datasets: chartDatasets(data.values)
  };
}

const getCounterDataset = (intermediate = [], counterKeys) => {
  let counterKey = '';

  if (intermediate[0]) {
    for (const key of counterKeys) {
      if (key in intermediate[0].counters) {
        counterKey = key;
        break;
      }
    }
  }

  const data = intermediate.reduce((acc, entry, idx) => {
    const count = entry.counters[counterKey] || 0;

    acc.labels.push((idx + 1) * 10);
    acc.values.push(count);

    return acc;
  }, { labels: [], values: [] });

  return {
    labels: data.labels,
    datasets: [{
      data: data.values,
      fill: false,
      borderColor: randomRgbColor(),
      tension: 0.5,
    }]
  };
}

const getMeanRpsData = (intermediate = []) => {
  const data = intermediate.reduce((acc, entry, idx) => {
    const count = entry.rates['engine.http.request_rate'] || 0;

    acc.labels.push((idx + 1) * 10);
    acc.values.push(count);

    return acc;
  }, { labels: [], values: [] });

  return {
    labels: data.labels,
    datasets: [{
      data: data.values,
      fill: false,
      borderColor: randomRgbColor(),
      tension: 0.5,
    }]
  };
}

const latencyAtIntervalsChart = new Chart(document.getElementById('latencyAtIntervalsChart'), {
  type: 'line',
  data: latencyAtIntervalsData(Report.intermediate),
  options: {
    scales: {
      y: {
        beginAtZero: true,
        title: {
          display: true,
          text: 'ms'
        }
      }
    }
  }
});

const rpsCountChart = new Chart(document.getElementById('rpsCountChart'), {
  type: 'line',
  data: getCounterDataset(Report.intermediate, ['engine.http.responses', 'SOCKETIO']),
  options: {
    plugins: { legend: { display: false } },
    scales: {
      y: {
        beginAtZero: true,
        title: {
          display: true,
          text: 'ms'
        }
      }
    }
  }
});

const meanRpsChart = new Chart(document.getElementById('meanRpsChart'), {
  type: 'line',
  data: getMeanRpsData(Report.intermediate, ['engine.http.responses', 'SOCKETIO']),
  options: {
    plugins: { legend: { display: false } },
    scales: {
      y: {
        beginAtZero: true,
        title: {
          display: true,
          text: 'ms'
        }
      }
    }
  }
});
</script>

<div id="footer">
  <footer>This report was created with <a href="https://artillery.io">Artillery</a> - free open-source load-testing for HTTP and WebSockets</footer>
</div>

</body>
</html>
