<!DOCTYPE html>
<html>
<head>
  <title>Artillery report</title>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js" charset="utf-8"></script>

  <style>
  body, p, li {
    font-family: sans-serif;
    font-size: 10pt;
  }

  h1 {
    font-size: 18pt;
    font-weight: bold;
  }

  #errorsContainer > p {
    color: #009900;
  }

  #footer {
    padding: 1em;
    font-size: 0.8em;
    color: #999;
    text-align: center;
    margin-top: 1em;
    background-color: #eee;
  }
  #editor {
    font-size: 8pt;
    height: 20em;
  }

  .chart-container {
    margin: 20px 0px;
  }
  </style>

  <style>
    h1 {
      line-height: 200%;
    }

    body {
      background-color: #fcfcfc;
    }

    .container {
      width: 100%;
      min-width: 960px;
    }
  </style>
</head>
<body>

<div class="container">

<div class="row" id="header">
  <div class="col-lg-offset-4">
    <pre style="font-family: monospace; font-size: 10pt; font-weight: 700; background-color: #fcfcfc; border: none;">
        ___         __  _ ____                  _
  _____/   |  _____/ /_(_) / /__  _______  __  (_)___  _____
 /____/ /| | / ___/ __/ / / / _ \/ ___/ / / / / / __ \/____/
/____/ ___ |/ /  / /_/ / / /  __/ /  / /_/ / / / /_/ /____/
    /_/  |_/_/   \__/_/_/_/\___/_/   \__, (_)_/\____/
                                    /____/
    </pre>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="text-center" id="page-title">Test run on <span id="timestamp"></span></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <h4>
      Summary
    </h4>
    <table class="table table-bordered table-hover table-condensed">
      <tbody>
        <tr>
          <td>Test duration</td>
          <td><span id="testDuration">0</span> sec</td>
        </tr>
        <tr>
          <td>Virtual Users created</td>
          <td><span id="vuCreated">0</span></td>
        </tr>

        <tr>
          <td>Virtual Users completed</td>
          <td><span id="vuCompleted">0</span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-lg-5" id="scenarioCountsContainer">
    <div>
      <h4>
        Scenario counts
      </h4>
      <p></p>

      <table class="table table-bordered table-hover table-condensed" id="scenarioCounts">
      </table>
    </div>
  </div>

  <div class="col-lg-3">
    <div id="errorsContainer">
      <h4>
        Errors
      </h4>
      <p></p>

      <table class="table table-bordered table-hover table-condensed" id="errors">
      </table>
    </div>
  </div>
</div> <!-- /.row -->

<div class="row">
  <div class="col-lg-12" id="customCountersContainer">
    <div>
      <h4>
        Counters
      </h4>
      <p></p>

      <table class="table table-bordered table-hover table-condensed" id="customCountersTable">
      </table>
    </div>
  </div>
</div> <!-- /.row -->

<div class="row">
  <div class="text-center col-lg-12">
    <h3>Charts</h3>
  </div>
</div>

<div id="errorsChartsRow" class="row">
  <div class="chart-container text-center col-lg-12">
    <h4>
      <i class="fas fa-chart-area"></i> Errors at intervals
    </h4>
    <canvas id="errorsAtIntervalsChart"></canvas>
  </div>
</div>

<div id="customCountersChartsRow" class="row">
  <div class="chart-container text-center col-lg-12">
    <h4>
      <i class="fas fa-chart-area"></i>Counters at intervals
    </h4>
    <canvas id="customCountersAtIntervalsChart"></canvas>
  </div>
</div>

<div id="customStats"></div>

<div class="row">
  <div class="codes-line text-center col-lg-12"></div>
</div>
<div class="row">
  <div class="errors-line text-center col-lg-12"></div>
</div>

</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h3 class="text-center">Raw report data</h3>
    <p>This is the raw JSON stats output that the report was generated from.</p>
    <div id="editor">
    </div>
  </div>
</div>

<script charset="utf-8">
const Report = <%= report %>;
const editor = ace.edit("editor");
editor.getSession().setMode("ace/mode/javascript");
editor.setValue(JSON.stringify(Report, null, 2));
editor.gotoLine(1);
editor.setHighlightActiveLine(false);

const l = _;

$("#timestamp").html(
  moment(Report.aggregate.period).format("DD MMM YYYY HH:mm:SS")
);
// $('#testDuration').html(Math.floor((l.last(Report.intermediate).lastCounterAt - Report.intermediate[0].firstCounterAt)/1000));
$("#testDuration").html(l.size(Report.intermediate) * 10);
$("#vuCompleted").html(Report.aggregate.counters["vusers.completed"]);
$("#vuCreated").html(Report.aggregate.counters["vusers.created"]);

const chartBgColors = {
  red: "rgba(255, 99, 132, 0.2)",
  orange: "rgba(255, 159, 64, 0.2)",
  yellow: "rgba(255, 205, 86, 0.2)",
  green: "rgba(75, 192, 192, 0.2)",
  blue: "rgba(54, 162, 235, 0.2)",
};

const chartBorderColors = {
  red: "rgb(255, 99, 132)",
  orange: "rgb(255, 159, 64)",
  yellow: "rgb(255, 205, 86)",
  green: "rgb(75, 192, 192)",
  blue: "rgb(54, 162, 235)",
};

const getHttpColor = (httpCode) => {
  const code = parseInt(httpCode, 10);

  if (code >= 100 && code < 200) {
    return chartBorderColors.blue;
  } else if (code >= 200 && code < 300) {
    return chartBorderColors.green;
  } else if (code >= 300 && code < 400) {
    return chartBorderColors.red;
  } else if (code >= 400 && code < 500) {
    return chartBorderColors.yellow;
  }

  return chartBorderColors.orange;
}

const getLatencyColor = (latency) => {
  switch(latency) {
    case "min":
      return chartBorderColors.red;
    case "max":
      return chartBorderColors.orange;
    case "median":
      return chartBorderColors.yellow;
    case "p95":
      return chartBorderColors.green;
    case "p99":
      return chartBorderColors.green;
    default:
      return '';
  }
};

const getCustomStats = (stats) =>
  l.omitBy(
    stats,
    (_, key) =>
      key.startsWith("errors.") ||
      key.startsWith("core.") ||
      key.startsWith("engine.")
  );

const scenarioCounts = l.pickBy(Report.aggregate.counters, (_, key) =>
  key.startsWith("vusers.created_by_name")
);

if (l.size(scenarioCounts) > 0) {
  l.each(scenarioCounts, function (count, key) {
    const [, , name] = key.split(".");

    const $tdName = $("<td>" + name + "</td>");
    const percentage =
      Math.round(
        (count / Report.aggregate.counters["vusers.created"]) *
          100 *
          1000
      ) / 1000;
    const $tdCount = $("<td>" + count + " (" + percentage + "%)" + "</td>");
    $("<tr></tr>")
      .append($tdName)
      .append($tdCount)
      .appendTo($("#scenarioCounts"));
  });
} else {
  $("#scenarioCountsContainer").hide();
}

const httpCodes = l.pickBy(Report.aggregate.counters, (_, key) =>
  key.startsWith("http.codes")
);

const errors = l.pickBy(Report.aggregate.counters, (_, key) =>
  key.startsWith("errors.")
);
if (l.size(errors) > 0) {
  l.each(errors, function (count, error) {
    const [, errorDetail] = error.split("errors.");

    $("<tr></tr>")
      .append($("<td>" + errorDetail + "</td>"))
      .append($("<td>" + count + "</td>"))
      .appendTo($("#errors"));
  });
} else {
  $("#errorsContainer > p").html(
    "&#10004; Test completed without network or OS errors."
  );
}

const getTimePeriodAggregates = (summaries) => {
  const summary =
    summaries["socketio.response_time"] ||
    summaries["http.response_time"];
  const metrics = ["min", "max", "median", "p95", "p99"];

  return l.pickBy(summary, (_, key) => metrics.includes(key));
};

const getLatencyDistribution = (data) => {
  return l.reduce(
    data,
    (acc, value, key) => {
      acc.labels.push(key);
      acc.values.push(value);

      return acc;
    },
    { labels: [], values: [] }
  );
};

const randomRgbColor = () => {
  const r = Math.floor(Math.random() * 256);
  const g = Math.floor(Math.random() * 256);
  const b = Math.floor(Math.random() * 256);

  return "rgb(" + r + ", " + g + ", " + b + ")";
};

const latencyDistributionData = getLatencyDistribution(
  getTimePeriodAggregates(Report.aggregate.summaries)
);

const latencyAtIntervalsData = (intermediates = []) => {
  const data = intermediates.reduce(
    (acc, entry, idx) => {
      const latencies = getTimePeriodAggregates(entry.summaries);

      l.each(latencies, (latency, key) => {
        acc.values[key] = acc.values[key] || [];

        acc.values[key].push(latency);
      });

      acc.labels.push((idx + 1) * 10);

      return acc;
    },
    { labels: [], values: {} }
  );

  return {
    labels: data.labels,
    datasets: l.map(data.values, (entry, key) => {
      const color = getLatencyColor(key);

      return {
        label: key,
        data: entry,
        fill: false,
        backgroundColor: color,
        borderColor: color,
        tension: 0.5,
      };
    })
  };
};

const getCounterDataset = (intermediates = [], counterKeys) => {
  let counterKey = "";

  if (intermediates[0]) {
    for (const key of counterKeys) {
      if (key in intermediates[0].counters) {
        counterKey = key;
        break;
      }
    }
  }

  const data = intermediates.reduce(
    (acc, entry, idx) => {
      const count = entry.counters[counterKey] || 0;

      acc.labels.push((idx + 1) * 10);
      acc.values.push(count);

      return acc;
    },
    { labels: [], values: [] }
  );

  return {
    labels: data.labels,
    datasets: [
      {
        data: data.values,
        fill: false,
        borderColor: randomRgbColor(),
        tension: 0.5,
      },
    ],
  };
};

const getMeanRpsData = (intermediates = []) => {
  const data = intermediates.reduce(
    (acc, entry, idx) => {
      const count =
        entry.rates["http.request_rate"] ||
        entry.rates["socketio.emit_rate"] ||
        entry.rates["websocket.send_rate"] ||
        0;

      acc.labels.push((idx + 1) * 10);
      acc.values.push(count);

      return acc;
    },
    { labels: [], values: [] }
  );

  return {
    labels: data.labels,
    datasets: [
      {
        data: data.values,
        fill: false,
        borderColor: randomRgbColor(),
        tension: 0.5,
      },
    ],
  };
};

const getHttpCodesAtIntervalsData = (intermediates = []) => {
  const data = intermediates.reduce(
    (acc, entry, idx) => {
      const httpCodes = l.pickBy(entry.counters, (_, key) =>
        key.startsWith("http.codes")
      );

      if (l.size(httpCodes) > 0) {
        l.each(httpCodes, (count, key) => {
          let [, , , code] = key.split(".");
          code = parseInt(code, 10);

          acc.values[code] = acc.values[code] || [];

          acc.values[code].push(count);
        });
      }

      acc.labels.push((idx + 1) * 10);

      return acc;
    },
    { labels: [], values: {} }
  );

  return {
    labels: data.labels,
    datasets: l.map(data.values, (entry, key) => {
      const color = getHttpColor(key);

      return {
        label: key,
        data: entry,
        fill: false,
        backgroundColor: color,
        borderColor: color,
        tension: 0.5,
      };
    }),
  };
};

const getHttpCodesData = (counters) => {
  const httpCodes = l.pickBy(counters, (_, key) =>
    key.startsWith("http.codes")
  );
  const labels = [];
  const data = [];
  const bgColors = [
    "rgba(54, 232, 235, 0.5)",
    "rgba(54, 235, 93, 0.5)",
    "rgba(229, 235, 54, 0.5)",
    "rgba(166, 54, 235, 0.5)",
    "rgba(235, 54, 69, 0.5)",
  ];

  if (l.size(httpCodes) > 0) {
    l.each(httpCodes, function (count, key) {
      let [, , , code] = key.split(".");
      code = parseInt(code, 10);

      labels.push(code);
      data.push(count);
    });
  }

  return {
    labels,
    datasets: [
      {
        backgroundColor: labels.map(getHttpColor),
        hoverOffset: 4,
        data,
      },
    ],
  };
};

if (l.size(errors) > 0) {
  const getErrorsAtIntervalsData = (intermediates = []) => {
    const data = intermediates.reduce(
      (acc, entry, idx) => {
        const errorsCounters = l.pickBy(entry.counters, (_, key) =>
          key.startsWith("errors.")
        );

        l.each(errorsCounters, (count, key) => {
          const [, errorDetail] = key.split("errors.");

          acc.values[errorDetail] = acc.values[errorDetail] || [];

          acc.values[errorDetail].push(count);
        });

        acc.labels.push((idx + 1) * 10);

        return acc;
      },
      { labels: [], values: {} }
    );

    return {
      labels: data.labels,
      datasets: l.map(data.values, (entry, key) => {
        return {
          label: key,
          data: entry,
          fill: false,
          backgroundColor: Object.values(chartBgColors),
          borderColor: Object.values(chartBorderColors),
          tension: 0.5,
        };
      })
    };
  };

  new Chart(document.getElementById("errorsAtIntervalsChart"), {
    type: "line",
    data: getErrorsAtIntervalsData(Report.intermediate),
    options: {
      plugins: { legend: { position: "bottom" } },
      aspectRatio: 3.5,
      scales: {
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: "ms",
          },
        },
      },
    },
  });
} else {
  $("#errorsChartsRow").hide();
}

const customCounters = getCustomStats(Report.aggregate.counters);
if (l.size(customCounters) > 0) {
  let rows = [];

  l.each(customCounters, function (count, key) {
    const row = $("<tr></tr>")
      .append($("<td>" + key + "</td>"))
      .append($("<td>" + count + "</td>"));

    rows.push(row);
  });

  if (rows.length > 5) {
    const visibleRows = rows.slice(0, 5);
    const hiddenRows = rows.slice(5).map((row) => row.addClass("hidden"));

    rows = [
      ...visibleRows,
      $(
        '<tr id="expandCustomCountersRow"><td class="text-center" colspan="2"><a href="" id="expandCustomCounters">Expand</a></td></tr>'
      ),
      ...hiddenRows,
    ];
  }

  rows.forEach((row) => row.appendTo($("#customCountersTable")));

  if (rows.length > 5) {
    $("#expandCustomCounters").on("click", (e) => {
      e.preventDefault();

      $("#customCountersTable tr").removeClass("hidden");
      $("#expandCustomCountersRow").addClass("hidden");
    });
  }

  const getCustomStatsAtIntervalsData = (intermediates = []) => {
    const data = intermediates.reduce(
      (acc, entry, idx) => {
        const customCounters = getCustomStats(entry.counters);

        l.each(customCounters, (count, key) => {
          acc.values[key] = acc.values[key] || [];

          acc.values[key].push(count);
        });

        acc.labels.push((idx + 1) * 10);

        return acc;
      },
      { labels: [], values: {} }
    );

    return {
      labels: data.labels,
      datasets: l.map(data.values, (entry, key) => {
        color = randomRgbColor();

        return {
          label: key,
          data: entry,
          fill: false,
          backgroundColor: color,
          borderColor: color,
          tension: 0.5,
        };
      }),
    };
  };

  new Chart(document.getElementById("customCountersAtIntervalsChart"), {
    type: "line",
    data: getCustomStatsAtIntervalsData(Report.intermediate),
    options: {
      plugins: { legend: { position: "bottom" } },
      aspectRatio: 2.5,
      scales: {
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: "ms",
          },
        },
      },
    },
  });
} else {
  $("#customCountersChartsRow").hide();
  $("#customCountersContainer").hide();
}

const customStats = getCustomStats(Report.aggregate.summaries);
const customStatsContainer = $("#customStats");
if (l.size(customStats) > 0) {
  let $row;

  Object.entries(customStats).forEach((stats, idx) => {
    const [statsName, statsData] = stats;
    const canvasId = "customMetric_" + idx;

    if (idx === 0 || idx % 0 === 0) {
      $row = $('<div class="row"></div>');
    }

    $row.append(
      [
        '<div class="chart-container text-center col-lg-6"><h4><i class="fas fa-chart-bar"></i> ',
        statsName,
        '</h4><canvas id="',
        canvasId,
        '"></canvas></div>',
      ].join("")
    );

    $row.appendTo(customStatsContainer);

    const { labels, values } = getLatencyDistribution(
      l.pickBy(statsData, (_, key) =>
        ["min", "max", "median", "p95", "p99"].includes(key)
      )
    );

    setTimeout(function () {
      new Chart(document.getElementById(canvasId), {
        type: "bar",
        data: {
          labels: labels,
          datasets: [
            {
              data: values,
              backgroundColor: Object.values(chartBgColors),
              borderColor: Object.values(chartBorderColors),
              borderWidth: 1,
            },
          ],
        },
        options: {
          plugins: { legend: { display: false } },
          scales: {
            y: {
              beginAtZero: true,
              title: {
                display: true,
                text: "ms",
              },
            },
          },
        },
      });
    });
  });
} else {
  customStatsContainer.hide();
}
</script>
<div id="footer">
  <footer>This report was created with <a href="https://artillery.io">Artillery</a> - free open-source load-testing for HTTP and WebSockets</footer>
</div>

</body>
</html>
